@{
    ViewData["Title"] = "Registration Successful";
}

<h3>
    Registration Successful
</h3>
<h5>
    Before you can Login, please confirm your email, by clicking on the confirmation link we have emailed you
</h5>
<a class="btn btn-primary" asp-controller="Account"
   asp-action="ResendConfirmationEmail">Resend Confirmation Email</a>