@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>Forgot Password Confirmation</h1>
</hgroup>
<div>
    <p>
        If you have an account with us, you will receive an email
        with the instructions to reset your password.
    </p>
</div>