@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}

<style>
    .container {
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
    }
</style>

<h1>Forgot your Password?</h1>
<hr />
<div class="row">
    <div class="col-md-12 darla-content">
        <form method="post" asp-action="ForgotPassword" asp-controller="Account">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <!-- Cancel button -->
            <button type="button" class="cancel-button" onclick="window.history.back();">Cancel</button>
        </form>
    </div>
</div>
