@model RegisterViewModel

@*
    TO DO:
    - Fix CSS so the Create Account words are enclosed within the button (hover over button to see what I mean)
    - Double check on dropdown options for permission type (check in with Database team first)... I know we talked about this being hidden maybe? I trust y'all
*@
@{
    ViewBag.Title = "User Registration";
}

<style>

    .container {
        max-width: 400px;
        margin: 0 auto;
        text-align: left;
        padding: 10px;
        border-radius: 5px;
    }

/*     h2 {
        text-align: center;
        color: #DEB841;
    }

    label {
        color: white;
        display: block;
        margin: 10px 10 5px;
    }

    input[type="text"], select {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 3px;
    }

.darla-content button {
    background-color: var(--color-dark-gray);
    color: var(--color-white);
    border: none;
    width: 100px;
    height: 50px;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 15px;
    transition: .2s;
}

    input[type="text"],
    input[type="email"],
    input[type="password"],
    .form-control {
        width: 100%;
        padding: 5px;
        margin-bottom: 20px;
        border-radius: 3px;
        box-sizing: border-box;
    }

    button#register {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        cursor: pointer;
    }

    button#cancel {
        background: none;
        color: grey;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }

    button#cancel:hover {
        text-decoration: underline;
    } */

</style>

<div>
    <h1>Create Account</h1>

    <div class="col-md-12 darla-content mb-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
            </div>
            
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary mt-3 ms-5 me-2">Register</button>
            <button type="button" class="btn btn-primary mt-3 ms-3" onclick="history.back()">Cancel</button>
        </form>
    </div>
</div>