@using Microsoft.AspNetCore.Identity

@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "All Roles";
}

<h1>All Roles</h1>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole"
       asp-controller="Administration">Add New Role</a>

    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @role.Id
            </div>

            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>

            <div class="card-footer">

                <form method="post" asp-action="DeleteRole" asp-route-roleId="@role.Id" onsubmit="return confirmDelete()">
                    <a asp-controller="Administration" asp-action="EditRole" asp-route-RoleId="@role.Id" class="btn btn-primary">Edit</a>

                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>

        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role
            </h5>

            <a class="btn btn-primary" style="width:auto"
               asp-controller="Administration" asp-action="CreateRole">
                Create Role
            </a>
        </div>
    </div>
}

<script>
    function confirmDelete() {
        // Display an alert box asking the user if they want to delete
        var confirmation = window.confirm("Are you sure you want to delete?");

        // Return the result of the confirmation (true if user clicks OK, false if Cancel)
        return confirmation;
    }
</script>