@{
    ViewData["Title"] = "Error";
}

<h3>
    An Error occured while processing your request.
    The support team is notified and we are working on the fix
</h3>
<h5>In case any urgent, please contact us at jwm94@byu.edu</h5>