@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* @model ScaffoldedModel *@ 
<h1>Add a Judge!</h1>
<button type="button" asp-controller="JudgeList">Go Back</button>
<div>
    <form>
        <input type="hidden" asp-for="user_id" />
        <label asp-for="first_name">Judge First Name</label>
        <br /><input asp-for="first_name" /><br /><br />

        <label asp-for="last_name">Judge Last Name</label>
        <br /><input asp-for="last_name" /><br /><br />

        <label asp-for="net_id">Net ID</label><br />
        <input asp-for="net_id" /><br /><br />

        <select asp-for="permission_type">
            Please select a Permission: 
            <option value="">Select a Permission</option>
            <option value="1">Judge</option>
        </select>
        <br /><br />

        <button type="submit">Submit Judge!</button>

        <div asp-validation-summary="All"></div>
    </form>
</div>