<form method="post" action="/YourControllerName/SaveTA">
    <label>Name:</label>
    <input type="text" name="Name"/><br />

    <label>Username:</label>
    <input type="text" name="Username"/><br />

    <label>Password:</label>
    <input type="password" name="Password"/><br />

    <button type="submit">Save</button>
</form>
