@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutProf";
}
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Darla.Models.User
<h1>Add a Judge!</h1>
<button type="button" asp-controller="Administration" asp-action="AdminJudgeListView">Go Back</button>
<div>
    <form>
        <input type="hidden" asp-for="UserId" />
        <label asp-for="FirstName">Judge First Name</label>
        <br /><input asp-for="FirstName" /><br /><br />

        <label asp-for="LastName">Judge Last Name</label>
        <br /><input asp-for="LastName" /><br /><br />

        <label asp-for="NetId">Net ID</label><br />
        <input asp-for="NetId" /><br /><br />

        <select asp-for="PermissionType">
            Please select a Permission: 
            <option value="">Select a Permission</option>
            <option value="1">Judge</option>
        </select>
        <br /><br />

        <button type="submit">Submit Judge!</button>

        <div asp-validation-summary="All"></div>
    </form>
</div>