@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* This view allows the Admin permission type to Delete TA users *@

@using Darla.Models

@model User
<button type="button" asp-controller="Home" asp-action="">Go Back</button>

<h2>Confirm Deletion</h2>
<h3>@Model.FirstName @Model.LastName</h3>
<form asp-controller="Home" asp-action="" method="post">
    <input type="hidden" asp-for="UserId" />
    <button type="submit">Delete</button>
    <a class="btn btn-info" asp-controller="Home" asp-action="DeleteTA">Cancel</a>
</form>