@{
    ViewData["Title"] = "Judge Deletion - Confirmation";
}
@model Darla.Models.User

<h1>Thank you!</h1>

<p>Your judge has been deleted. Click <a asp-controller="Home" asp-action="AdminJudgeListView">here</a> to return to master judge view.</p>