@{
}
<h1>all grades</h1>
<a asp-controller="Home" asp-action="Index">index</a>
<a href="/Views/Home/ClassRubric.cshtml">class rubric</a>
<a href="/Views/Home/MissingReq.cshtml">missing requirements</a>
<a href="/Views/Home/TaGradingProgress.cshtml">TA grading progress</a>