@{
}
<h1>all grades</h1>
<p>this view will display a table with the list of all the groups, their scores, and the ability to sort from highest to lowest, etc.</p>
<a asp-controller="Home" asp-action="Index">index</a>
<a asp-controller="Home" asp-action="ClassRubric">class rubric</a>
<a asp-controller="Home" asp-action="TaGradingProgress">ta grade progress</a>
