@{
}
<h1>all grades</h1>
<a asp-controller="Home" asp-action="Index">index</a>
<a asp-controller="Home" asp-action="ClassRubric">class rubric</a>
<a asp-controller="Home" asp-action="MissingReq">missing requirements</a>
<a asp-controller="Home" asp-action="TaGradingProgress">ta grade progress</a>
<p>test</p>