@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form>
    <h1 class="font-weight-bold text-center">Get Started</h1>
    <h4 class="text-center">Please choose which role describes you:</h4>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-primary btn-block">Student</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary btn-block">Professor</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-primary btn-block">TA</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary btn-block">Judge</button>
            </div>
        </div>
    </div>
</form>

<img src="" />

