@{
   <h1>test test</h1>
}
<h1>class rubric</h1>
<a href="/Views/Home/Index.cshtml">index</a>
<a href="/Views/Home/MissingReq.cshtml">missing requirements</a>
<a href="/Views/Home/TaGradeProgress.cshtml">ta grade progress</a>
<a href="/Views/Home/AllGrades.cshtml">all grades</a>

