@{
   <h1>test test</h1>
}
<h1>class rubric</h1>
<a asp-controller="Home" asp-action="Index">Index</a>
<a asp-controller="Home" asp-action="AllGrades">All Grades</a>
<a asp-controller="Home" asp-action="MissingReq">Missing Requirements</a>
<a asp-controller="Home" asp-action="TaGradingProgress">TA Grading Progress</a>


