@{
   <h1>test test</h1>
}
<h1>class rubric</h1>
<p>this view will update when the ta clicks on the group they want to grade in their class/section</p>
<p>will have rubric filled out as a form with a submit button at the bottom of the rubric</p>
<a asp-controller="Home" asp-action="Index">Index</a>
<a asp-controller="Home" asp-action="AllGrades">All Grades</a>
<a asp-controller="Home" asp-action="TaGradingProgress">TA Grading Progress</a>


