@{
   <h1>test test</h1>
}
<h1>class rubric</h1>
<a href="/Views/Home/Index.cshtml">index</a>
<a href="/Views/Home/missingReq.cshtml">missing requirements</a>
<a href="/Views/Home/taGradeProgress.cshtml">ta grade progress</a>

