@*
    TO DO: 
    - Fix CSS so the Create Account words are enclosed within the button (hover over button to see what I mean)
    - Double check on dropdown options for permission type (check in with Database team first)... I know we talked about this being hidden maybe? I trust y'all
*@
@{
}

@model Darla.Models.User

<style>
    .container {
        text-align: center;
    }
</style>

<div class="container">
    <h2>Create an Account</h2>
    <form method="post">
        <label asp-for="NetId">NetID</label>
        <input asp-for="NetId">
        <br />

        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName">
        <br />

        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName">
        <br />

        <label asp-for="PermissionType">Permission Type</label>
        <select asp-for="PermissionType">
            <option value="" selected disabled></option>
            <option value="1">Student</option>
            <option value="2">Professor</option>
            <option value="3">TA</option>
            <option value="4">Judge</option>
            <option value="5">Coordinator</option>
        </select>
        <br />

        <label asp-for="user_password">Password</label>
        <input asp-for="user_password">
        <br />
       
        <button type="submit">Create Account</button>
    </form>
</div>

