@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Schedule View <a href="@Url.Action("ScheduleView", "Home")">CLICK HERE FOR SCHEDULE VIEW</a></p>
    <p>Schedule View <a href="@Url.Action("judge_survey", "Home")">CLICK HERE FOR SURVEY VIEW</a></p>
</div>