@{
    ViewData["Title"] = "Home Page";
}
<h1>Index</h1>
<a asp-controller="Home" asp-action="ClassRubric">class rubric</a>
<a asp-controller="Home" asp-action="MissingReq">missing requirements</a>
<a asp-controller="Home" asp-action="TaGradingProgress">ta grade progress</a>
<a asp-controller="Home" asp-action="AllGrades">all grades</a>
