@{
    ViewData["Title"] = "Home Page";
}
<h1>Index</h1>
<a asp-controller="Home" asp-action="ClassRubric">class rubric</a>
<a href="/Views/Home/MissingReq.cshtml">missing requirements</a>
<a href="/Views/Home/TaGradeProgress.cshtml">ta grade progress</a>
<a asp-controller="Home" asp-action="AllGrades">All the Grades</a>