@{
    ViewData["Title"] = "Home Page";
}
<h1>Index</h1>
<p>this view is just to have a home page when running the project. nav links show each page</p>
<a asp-controller="TA" asp-action="AllGrades">all grades</a>
<a asp-controller="TA" asp-action="ClassRubric">class rubric</a>
<a asp-controller="TA" asp-action="TaGradingProgress">ta grade progress</a>
<a asp-controller="TA" asp-action="TaTesting">Testing</a>


<div class="text-center">
    <h1 class="display-4">Intex Grading</h1>
    <p>Schedule View <a href="@Url.Action("ScheduleView", "Home")">CLICK HERE FOR SCHEDULE VIEW</a></p>
    <p>Schedule View <a href="@Url.Action("judge_survey", "Home")">CLICK HERE FOR SURVEY VIEW</a></p>
</div>
