@model Darla.Models.ViewModels.MasterJudgeScheduleViewModel

<h1>Master Judge Schedule</h1>

@foreach (var room in Model.Room.Where(r => Model.JudgeRoom.Any(jr => jr.RoomId == r.RoomId && Model.User.Any(u => u.UserId == jr.UserId && u.PermissionType == 4))))
{
    <h2>@room.RoomName</h2>

    @foreach (var user in Model.User.Where(u => Model.JudgeRoom.Any(jr => jr.RoomId == room.RoomId && jr.UserId == u.UserId && u.PermissionType == 4)))
    {
        <p>@user.FirstName, @user.LastName</p>
    }
}
