@using Darla.Models
@{
    ViewData["Title"] = "Judge Schedule";
}

<h1>Judge Schedule</h1>

@foreach (Room r in Model.Rooms)
{
    <h1>Room Summary</h1>
    <div>
        <h2>@Model.room.RoomName</h2>

        @foreach (var user in Model.Users)
        {
            // Check if the user is a judge
            if (user.PermissionType == "4")
            {
                // Check if the user is scheduled in the room
                foreach (var judgeRoom in Model.JudgeRooms)
                {
                    if (judgeRoom.UserID == user.UserID)
                    {
                        // Display judge's first name and last name
                        <h3>@user.FirstName @user.LastName</h3>
                    }
                }
            }
        }
    </div>

}