@{
    
}
<h1>missing requirements</h1>
<a href="/Views/Home/Index.cshtml">index</a>
<a href="/Views/Home/ClassRubric.cshtml">class rubric</a>
<a href="/Views/Home/TAGradeProgress.cshtml">ta grade progress</a>
<a href="/Views/Home/AllGrades.cshtml">all grades</a>