@{
    
}
<h1>missing requirements</h1>
<a href="/Views/Home/Index.cshtml">index</a>
<a href="/Views/Home/classRubric.cshtml">class rubric</a>
<a href="/Views/Home/taGradeProgress.cshtml">ta grade progress</a>
<a href="/Views/Home/AllGrades.cshtml">all grades</a>