@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Header 1</h1>
<h2>Header 2</h2>
<h3>Header 3</h3>
<h4>Header 4</h4>
<h5>Header 5</h5>
<h6>Header 6</h6>
<div class="darla-content">
    <h1>Header 1</h1>
    <h2>Header 2</h2>
    <h3>Header 3</h3>
    <h4>Header 4</h4>
    <h5>Header 5</h5>
    <h6>Header 6</h6>
    <button>Button</button>
    <p>Use this page to <span>detail</span> your site's privacy policy.</p>
</div>
<div>
    <button>Button</button>
    <p>Use this page to <span>detail</span> your site's privacy policy.</p>
</div>
