@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="css/StudentDashboard.css">

    <section class="header-section">
      <div class="container">
        <h1 class="welcome-message">Welcome Student!</h1>
        <button class="back-to-home">Back to Home</button>
      </div>
    </section>

    <main class="main-content">
      <section class="presentation-info">
        <div class="container">
          <div class="card presentation-card">
            <div class="title">Your Presentation</div>
            <div class="info">
              @* <i class="fas fa-clock icon"></i> *@
              <div class="text">12:30 PM</div>
            </div>
            <div class="info">
              @* <i class="fas fa-door-open icon"></i> *@
              <div class="text">Room TNRB 310</div>
            </div>
          </div>
        </div>
      </section>

      <section class="group-info">
        <div class="container">
          <div class="card group-card">
            <div class="title">Group Number</div>
            <div class="members">
              <p>Student 1</p>
              <p>Student 2</p>
              <p>Student 3</p>
              <p>Student 4</p>
            </div>
          </div>
        </div>
      </section>

      <section class="countdown-info">
        <div class="container">
          <div class="card countdown-card">
            <div class="title">Countdown</div>
            <div class="timer">
              <div class="label-digit">
                <div class="label">DAYS</div>
                <div class="digit">00</div>
              </div>
              <div class="label-digit">
                <div class="label">HOURS</div>
                <div class="digit">00</div>
              </div>
              <div class="label-digit">
                <div class="label">MINUTES</div>
                <div class="digit">00</div>
              </div>
              <div class="label-digit">
                <div class="label">SECONDS</div>
                <div class="digit">00</div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="resources-info">
        <div class="container">
          <div class="card resources-card">
            <div class="title">Resources and Submission</div>
            <div class="links">
              <a href="#" class="link">Peer Evaluation</a>
              <a href="#" class="link">Submission Form</a>
              <a href="#" class="link">Sign Out</a>
            </div>
          </div>
        </div>
      </section>
    </main>