@{
}
<h1>ta grade progress</h1>
<a asp-controller="Home" asp-action="AllGrades">AllGrades</a>
<a asp-controller="Home" asp-action="ClassRubric">ClassRubric</a>
<a asp-controller="Home" asp-action="MissingReq">MissingReq</a>
<a asp-controller="Home" asp-action="TAGradingProgress">TAGradingProgress</a>
<p>hello</p>