@{
}
<h1>ta grade progress</h1>
<a href="/Views/Home/Index.cshtml">index</a>
<a href="/Views/Home/classRubric.cshtml">class rubric</a>
<a href="/Views/Home/missingReq.cshtml">missing requirements</a>
<a href="/Views/Home/AllGrades.cshtml">all grades</a>