@{
}
<h1>ta grade progress</h1>
<p>this is the first view that the TAs will go to when they log in; view will hold dropdowns for each class > section > then list of groups to grade</p>
<a asp-controller="Home" asp-action="AllGrades">AllGrades</a>
<a asp-controller="Home" asp-action="ClassRubric">ClassRubric</a>
<a asp-controller="Home" asp-action="Index">Index</a>
