<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> - Darla</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css?v=7Ufge-E9bsRUGv78vQPyrCmLGz8Xt3G8bRokci4gMWQ" />
    <link rel="stylesheet" href="/css/darla.css?v=j00Gem52_KoFZAK8_HOSnf5kxK_4d52ZsQmzO5atXn4" />
    <link rel="stylesheet" href="/css/judges.css?v=xqBDFGz7X_fPXjB7WprhQ8RFYFoMW8J7HyPh1oK3hvQ" />
</head>
<body>
<!--
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Darla</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AllGrades">All Grades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="">AddTA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="">ListTA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="judge_survey">Privacy</a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="StudentProgress">Progress</a>
                        </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
    -->
<div b-0c9pw9ke29 class="container">
    <main b-0c9pw9ke29 role="main" class="pb-3">
        
<!DOCTYPE html>
<html> 

<div class = "darla-content">
<head>
    <title>Judge Schedule and Ranking</title>
    <link rel="stylesheet" href="/css/judges.css?v=xqBDFGz7X_fPXjB7WprhQ8RFYFoMW8J7HyPh1oK3hvQ" />

</head>
<body>
<script src="/js/site.js"></script>
<h2>Welcome Judge:</h2>
<br/>
<div class="schedule-container">
    <div>
        <h3>Schedule & Surveys</h3>
        <h3>ROOM W310</h3>
                <div> Team 202</div>
                <div> Team 204</div>
                    <div>Lunch Break</div>     </div>
      
    <div>
        <h3>Group Ranking</h3>
            
        <div class="container">
            
            <div class="row">
    
                <div id="places" class="col-2">
                            <div class="box row" data-teamnumber="1">
                                1
                            </div>
                            <div class="box row" data-teamnumber="2">
                                2
                            </div>
                </div>
                <div id="rankingList" class="ranking-list col-6">
                            <div draggable="true" class="box row" data-teamnumber="202">
                                Team 202
                            </div>
                            <div draggable="true" class="box row" data-teamnumber="204">
                                Team 204
                            </div>
                </div>
            </div>
        </div>
        <br/>
        <button id="saveOrderButton">Save Rank</button>
    </div>
    <br/>
    <br/>
</div>
<button class="back-button">Back</button>
    
</body>
</div>
</html>



    </main>
</div>

<footer b-0c9pw9ke29 class="border-top footer text-muted">
    <div b-0c9pw9ke29 class="container">
        &copy; 2024 - Darla - <a href="/Home/openingPage">OpeningPage</a>
    </div>
</footer>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/site.js?v=Wrtjq2SQls_PKd0oF9dS6J_DYMggxPih3d8d58fav-I"></script>

</body>
</html>