@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // This line will retrieve the value from the ViewBag and assign it to a local variable.
    var teamNumber = ViewBag.TeamNumber;
}

<h1>Team Number: @teamNumber</h1>